.inputLabel--3V65Y {
  color: var(--night-rider); }

.inputStandard--rVbLh {
  color: var(--night-rider);
  border: 1px solid var(--very-light-gray);
  border-radius: 2px;
  background-color: var(--white); }
  .inputStandard--rVbLh:focus {
    border: 1px solid var(--very-light-gray) !important;
    outline: none !important;
    box-shadow: none !important; }
  .inputStandard--rVbLh::placeholder {
    color: #333333 !important;
    opacity: 0.3 !important; }

.inputDisabled--2e_kB {
  font-size: 0.875rem;
  color: var(--dark-gray) !important;
  background-color: var(--white) !important;
  border: 1px solid var(--gainsboro) !important; }

.inputInvalid--3BVCi {
  border: 1px solid var(--torch-red) !important; }

.inputFeedback--1qfqa {
  font-size: 0.75rem;
  color: var(--night-rider);
  font-weight: bold;
  line-height: 0.875rem; }

